{% extends 'panier.html.twig' %}


{% block body %}

    <div class="section_padding">
        <br class="section-top-border">
        <center><h3 class="mb-30">Confirmation</h3></center>
        <section style="padding-top: 5px;padding-bottom: 5px" class="feature_part member_counter single_feature_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div style="height: 100px;padding-top: 1px" >
                            <div class="single_member_counter">
                                <p style="font-size: 20px;color: white">Etape 1</p>
                                <h4>Commander</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div style="height: 100px;padding-top: 1px" >
                            <div class="single_member_counter">
                                <p style="font-size: 20px;color: white">Etape 2</p>
                                <h4>Livraison</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div style="height: 100px;padding-top: 1px" class="single_feature_part">
                            <div class="single_member_counter">
                                <p style="font-size: 20px;color: white">Etape 3</p>
                                <h4>Confirmer</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div style="height: 100px;padding-top: 1px" >
                            <div class="single_member_counter">
                                <p style="font-size: 20px;color: white">Etape 4</p>
                                <h4>Paiement</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
{#{{ include('panier/_form.html.twig') }}#}
        <center><a style="margin-top: 30px; margin-bottom: 30px" href="{{ path('panier_temp_add') }}" class="btn_2">Commander</a></center>
        <br></br>
        <center><p style="font-size: 20px;color: red">Total a payer: {{ prix }}</center></p>
        </br><br></br>
        <table class="table">
            {% for livraison in livraisons %}
            <tbody>
            <tr>
                <th>LivraisonId</th>
                <td>{{ livraison.livraisonId }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ livraison.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ livraison.prenom }}</td>
            </tr>
            <tr>
                <th>NumTel</th>
                <td>{{ livraison.numTel }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ livraison.adresse }}</td>
            </tr>
            </tbody>
            {% else %}
                <h4 style="font-size: 30px;color: red; padding-top: 10px">Pas de Livraisons</h4>
            {% endfor %}
        </table>
        <br></br>
        <center><div class="progress-table-wrap">
                <div class="progress-table">
                    <div class="table-head">
                        <div class="serial">Nom Oeuvre</div>
                        <div class="country">Image</div>
                        <div class="serial">Quantite</div>
                        <div class="serial">Prix Unitaire</div>
                        <div class="serial">Prix Total</div>
                    </div>
                    {% for panier_temp in panier_temps %}
                        <div class="table-row">
                            <div style="position: relative; left: 4%" class="serial" >{{ panier_temp.oeuvrage.nom }}</div>
                            <div style="position: relative; left: 11%"class="country"><img style="width: 20%" src="/img/{{panier_temp.oeuvrage.image}}" alt="produit"></div>
                            <div style="position: relative; left: 5%" class="serial" >{{ panier_temp.quantite }}</div>
                            <div style="position: relative; left: 4%" class="serial">{{ panier_temp.oeuvrage.prix }}</div>
                            <div style="position: relative; left: 4%" class="serial">{{ panier_temp.quantite*panier_temp.oeuvrage.prix }}</div>
                        </div>
                    {% else %}
                        <h4 style="font-size: 30px;color: red; padding-top: 10px">Panier Vide</h4>
                        <a style="margin-top: 30px" href="{{ path('panier_temp_add') }}" class="btn_4">Ajouter un oeuvre</a>
                    {% endfor %}
                </div>
            </div></center>
    </div>
    </div>
{% endblock %}