
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Se connecter </title>
    <link rel="stylesheet" href="{{ asset('css/css_login/material-design-iconic-font.min.css') }}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ asset('css/css_login/styleSign.css') }}">

</head>



<body>
<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{{ asset('images/signin-image.jpg') }}" alt="sing up image"></figure>

                </div>

                <div class="signin-form">
                    <h2 class="form-title">vous n'êtes pas autorisé à accéder à cette page </h2>
                    <h3>se connecter</h3>
                    <button class="btn float-left" onclick="location.href='{{ path('login') }}'">Se connecter</button>
                    <button class="btn float-left" onclick="location.href='{{ path('login') }}'">Retour</button>


                </div>
            </div>
        </div>
    </section>


</div>
<script src="{{ asset('js/js_login/jquery.min.js') }}"></script>
<script src="{{ asset('js/js_login/main.js') }}"></script>


</body>

<!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

