{% extends 'base.html.twig' %}


{% block title %}

    New Formation{% endblock %}

{% block body %}
    <tr>
        <th>Description</th>
        <td>{{ formation.formationId }}</td>
    </tr>
    <div class="center">
        <div> <a class="btn_1"  href="{{ path('formation_index') }}">Retour à la list</a></div>
        <a class="btn-success" href="{{ path('formateur_index') }}">Mes Fomations </a>
     {#  <td><a href="{{ path('cours_new') }}" class="btn_2">Ajouter des cours à cette formation</a>#}
    <h1>Créer une nouvelle Formation</h1>
        <style>
            .center {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                padding: 100px;
            }
        </style>
    {{ include('formation/_form.html.twig') }}


    </div>
{% endblock %}
