{% extends 'base.html.twig' %}


{% block title %}Formation{% endblock %}

{% block body %}


    <div class="row" >



              {# <div class="author_info">  <div class="author_img">
              <a class="btn_1" href="{{ path('formation_index') }}">Retour</a></div> </div>#}

        <div class="col-sm-6 col-lg-4" align-self-center>

            <th></th>
       {# #}     <img src="/images1/{{ formation.image }}" class="img-fluid"  alt="" style="width: 50%; height:auto; margin:50px">
        </div>

        <div class="col-sm-6 col-lg-4" align-self-center>
    <table class="table">
        <tbody>
        <tr>
            <th>Titre</th>
            <td>{{ formation.titre }}</td>
        </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ formation.domaine }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ formation.date  }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ formation.duree }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ formation.lieu }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ formation.prix }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ formation.niveau }}</td>
            </tr>
            <tr>
                <th>Langue</th>
                <td>{{ formation.langue }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ formation.description }}</td>
            </tr>
<tr>
    <th>
        <a class="btn_2 text-capitalize" href="{{path('formation_cours_index',{'id': formation.formationId})}}">Voir les cours associés </a>
    </th>
 {# {% for inscription in inscription %}
   {% if inscription.findIsinscrit()==false %}  {% endif %}
{% endfor %} #}
    <td>  <a  href="{{ path('inscription_new',{'id': formation.formationId})}}" class="btn_2 ">S'inscrire à cette formation</a>

    </td>
</tr>

        </tbody>
    </table>


          {# {{ form_start(form) }}
            {{ form_widget(form.formation,{'attr':{'value':formation.formationId}}) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }} #}


            {#<h4 class="title">{{ formation.cours.titre }}</h4>
  {# <a href="{{ asset('images1/' ~ formation.image) }}">View image </a> naamalha lel cours files
   <a href="{{ path('formation_index') }}">back to list</a>
  <a class="btn_1"href="{{ path('formation_edit', {'formationId': formation.formationId}) }}">Modifier</a></div>#}


    </div>

    </div>


{% endblock %}
