{% extends 'base.html.twig' %}


{% block title %}Formation{% endblock %}
   {% block content %}

       <section class="breadcrumb breadcrumb_bg">
           <div class="container">
               <div class="row">
                   <div class="col-lg-12">
                       <div class="breadcrumb_iner text-center">
                           <div class="breadcrumb_iner_item">
                               <h2>Espace Formateur</h2>

                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>

   {% endblock %}


{% block header %}
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html"> <img src="{{ asset ('img/logo.png') }}" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                             id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item">
{#                                    <a class="nav-link" href="{{ path('accueil_index') }}" style="color: #ffffff">Accueil</a>#}
{#                                       </li>
{#                                <li class="nav-item">#}
{#                                    <a class="nav-link" href="{{ path('blog_index_front') }}" style="color: #ffffff">Blog</a>#}
{#                                </li>#}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('formation_index') }}" style="color: #ffffff">Formations</a>
                                </li>

{#                                <li class="nav-item">#}
{#                                    <a class="nav-link" href="{{ path('evenement_index_Front') }}" style="color: #ffffff">Evenements</a>#}
{#                                </li> #}

{#                                <li class="nav-item">#}
{#                                    <a class="nav-link" href="{{ path('oeuvrage_index') }}" style="color: #ffffff">Oeuvres</a>#}
{#                                </li>#}
                                {#  <li class="nav-item">
                                    <a class="nav-link" href="{{ path('user_index')}}" style="color: #ffffff">Nos artistes</a>
                                </li>
                                {% if(app.user==null) %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_login') }}" style="color: #ffffff">Profil</a>
                                    </li>

                                    <li class="d-none d-lg-block">
                                        <a class="btn_1" href="{{ path('app_login') }}">S'inscrire</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('user_show', {'userId':app.user.userId}) }}" style="color: #ffffff">Profil</a>
                                    </li>

                                    <li class="d-none d-lg-block">
                                        <a class="btn_1" href="{{ path('app_logout') }}">Déconnecter</a>
                                    </li>
                                {% endif %}#}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->

{% endblock %}

{% block body %}
{#   {{ dump(isincrit)}}#}

    <div class="row" >



              {# <div class="author_info">  <div class="author_img">
              <a class="btn_1" href="{{ path('formation_index') }}">Retour</a></div> </div>#}

        <div class="col-sm-6 col-lg-4" align-self-center>

            <th></th>
       {# #}     <img src="/images1/{{ formation.image }}" class="img-fluid"  alt="" style="width: 50%; height:auto; margin:50px">
        </div>

        <div class="col-sm-6 col-lg-4" align-self-center>
    <table class="table">
        <tbody>
        <tr>
            <th>Titre</th>
            <td>{{ formation.titre }}</td>
        </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ formation.domaine }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ formation.date  }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ formation.duree }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ formation.lieu }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ formation.prix }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ formation.niveau }}</td>
            </tr>
            <tr>
                <th>Langue</th>
                <td>{{ formation.langue }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ formation.description }}</td>
            </tr>
        <tr>
            <th>Nombre d'inscription </th>
            <td>{{ nb }}</td>
        </tr>

<tr>
    <th>
{#        {% if isCoursVisible !=0 %}#}
        <a class="btn_2 text-capitalize" href="{{path('formation_cours_index',{'id': formation.formationId})}}">Voir les cours associés </a>
{#        {% endif %}#}
    </th>

{#   {% if  render(controller(#}
{#          'App\\Controller\\FormationController::inscritVisible',#}
{#          { 'formation': formation.formationId, 'user': formation.user }#}
{#      ))  ==true %}#}


   {%  if  isincrit==0 %}

    <td>  <a  href="{{ path('inscription_new',{'id': formation.formationId})}}" class="btn_2 ">S'inscrire à cette formation</a>
        {% endif %}

    </td>

</tr>

        </tbody>
    </table>





            {#<h4 class="title">{{ formation.cours.titre }}</h4>
  {# <a href="{{ asset('images1/' ~ formation.image) }}">View image </a> naamalha lel cours files
   <a href="{{ path('formation_index') }}">back to list</a>#}


    </div>

    </div>


{% endblock %}
