{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}
   {% block content %}

       <section class="breadcrumb breadcrumb_bg">
           <div class="container">
               <div class="row">
                   <div class="col-lg-12">
                       <div class="breadcrumb_iner text-center">
                           <div class="breadcrumb_iner_item">
                               <h2>Espace Formateur</h2>

                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>

   {% endblock %}


{% block body %}
    {#  <div class="navbar-btn">
        <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
    </div> #}
    <h1>Mes Formations </h1>


        <div class="row justify-content-center">
    <div class="blog_right_sidebar">
    <form action="#">
        <aside class="single_sidebar_widget newsletter_widget">
        <a class="button rounded-0 primary-bg text-white w-100 btn_1" href="{{ path('formation_new') }}">Ajouter d'autres formations</a>
        </aside>
    </form>
    </div>
    </div>

    <form method="post" >
        <input type="text"  class="form-control" name="AfficherClasse" onkeyup="myFunction()" placeholder="Rechercher"  id="myInput" >
    </form>


    <div class="tableau">
     <table class="table" id="mytable">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Domaine</th>
            <th>Date</th>
            <th>Durée</th>
            <th>Lieu</th>
            <th>Prix</th>
            <th>Niveau</th>
            <th>Langue</th>
            <th>Description</th>
            <th>Image</th>



        </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
        <tr>
            <td>{{ formation.titre }}</td>
                <td>{{ formation.domaine }}</td>
                <td>{{ formation.date }}</td>
                <td>{{ formation.duree }}</td>
                <td>{{ formation.lieu }}</td>
                <td>{{ formation.prix }}</td>
                <td>{{ formation.niveau }}</td>
                <td>{{ formation.langue }}</td>
                <td>{{ formation.description }}</td>
                <td>{{ formation.image }}</td>



            </tr>

            {% endfor %}
        </tbody>
     </table>
    </div>
        </div>

    <script>
        function myFunction() {
            var input, filter, table, tr, td, i,j, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("mytable");
            tr = table.getElementsByTagName("tr"); //nom de balise
//   alert(td.length);
            for (i = 0; i < tr.length; i++) {
                td= tr[i].getElementsByTagName("td")[0];

                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }


    </script>
        </tbody>
    </table>


{% endblock %}


    {#   {% if oeuvrage.quantite==0 %}
                                    <span class="label-danger ">hors stock</span>
                                {% else %}
                                   <h4> {{ oeuvrage.quantite }} </h4>
                                {% endif %}  #}







