{{ form_start(form,{'attr':{'novalidate':'novalidate'}} ) }}

<div>
    <div class="col-lg-8 col-md-8">




            <div class="banner_text_iner">
                <table class="table  table-striped">
                    <tr><td> Nom  : </td>  <td>{{ form_widget(form.nom, { 'attr': {'class': 'mt-10 '} }) }}{{ form_errors(form.nom) }}</td></tr>
                    <tr><td>  Prenom : </td>  <td>{{ form_widget(form.prenom, { 'attr': {'class': 'mt-10'} }) }}{{ form_errors(form.prenom) }}</td></tr>
                    <tr><td> Numero Telephone :</td>  <td>{{ form_widget(form.numTel, { 'attr': {'class': 'col-lg-4 col-md-5'} }) }}{{ form_errors(form.numTel) }}</td></tr>
                    <tr><td> Adresse :</td>  <td>{{ form_widget(form.adresse, { 'attr': {'class': 'col-lg-4 col-md-5'} }) }}{{ form_errors(form.adresse) }}</td></tr>

                </table>

            </div>

        </div>

        <button style="margin-bottom:10px;margin-top:10px" class="btn_1">{{ button_label|default('Suivant') }}</button>
        <button style="margin-bottom:10px;margin-top:10px" class="btn_2"><a href="{{ path('panier_temp_index') }}">Retour</a></button>
    </div>


{{ form_end(form) }}

