{{ form_start(form) }}

<div>
    <div class="col-lg-8 col-md-8">

        <div class="mt-10">
            <span class="mt-10">Nom</span>
            <div>
                {{ form_widget(form.nom, { 'attr': {'class': 'mt-10 '} }) }}
            </div>
        </div>

        <div class="mt-10">
            <span class="mt-10">Prenom</span>
            <div>
                {{ form_widget(form.prenom, { 'attr': {'class': 'mt-10'} }) }}
            </div>
        </div>

        <div class="mt-10">
            <span class="mt-10">Num Tel</span>
            <div>
                {{ form_widget(form.numTel, { 'attr': {'class': 'col-lg-4 col-md-5'} }) }}
            </div>
        </div>

        <div class="mt-10">
            <span class="mt-10">Adresse</span>
            <div>
                {{ form_widget(form.adresse, { 'attr': {'class': 'col-lg-4 col-md-5'} }) }}
            </div>
        </div>

        <button style="margin-top:10px" class="btn btn-outline-success">{{ button_label|default('Suivant') }}</button>
        <button style="margin-top:10px" class="btn btn-outline-primary"><a href="{{ path('livraison_index') }}">Retour</a></button>
    </div>
</div>

{{ form_end(form) }}

