{% extends 'baseBack.html.twig' %}


{% block body %}

<div class="main-content">

    <!-- OVERVIEW -->
    <div class="panel panel-headline">
        <div class="panel-heading">

            <div  style=" top: 100px; margin-left: 80px; width: 950px; background-color: WHITE">
                <h1 style="color: #020101">Livraisons </h1>
                <br>



                <br>

                <table class="table">
                    <thead>
                    <tr style="color: #a65959">


                        <th>Livraison ID</th>
                        <th>Nom</th>
                        <th>Prenm</th>
                        <th>Destination</th>
                        <th>Num Tel</th>
                        <th>Etat</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody id="allQQQ">
                    {% for livraison in livraisons %}

                        <tr style="color: gray">
                            <td>{{ livraison.livraisonId }}</td>
                            <td>{{ livraison.nom }}</td>
                            <td>{{ livraison.Prenom }}</td>
                            <td>{{ livraison.adresse }}</td>
                            <td>{{ livraison.numTel }}</td>
                            <td>{{ livraison.etat }}</td>
                            {% if  livraison.etat  == 'En Cours' %}
                                    <td>
                                        <a class="btn btn-info" href="{{ path('panellivreureff', {'id': livraison.livraisonId}) }}">Livré</a>
                                    </td>
                            {% else %}
                                <td></td>
                            {% endif %}

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">Pas de Livraisons</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tbody id="search12">
                    </tbody>
                </table>
            </div>

        </div>   </div>   </div>
{% endblock %}














