{% extends 'base.html.twig' %}


{% block content %}
    <div class="row align-items-sm-center align-items-lg-stretch">
        <div class="col-md-5 col-lg-5 text-center">
            <div class="learning_member_text">
                <div class="row justify-content-center " style="margin-top: 150px">



                </div>

            </div>
        </div>
        <div class="col-md-7 col-lg-7">
            <div class="img-rounded">

            </div>
        </div>

    </div>

{% endblock %}

{% block body %}
<section class="banner_part">
    <div class="container">

                        <div class="banner_text_iner">


                            <h1>Edit Reclamation</h1>
                            {{ form_start(form) }}
                            <table class="table  table-striped">
                            <tr><td> Nom de réclamation : </td>  <td>{{ form_widget(form.reclamationNom) }}{{ form_errors(form.reclamationNom) }}</td></tr>
                            <tr><td> Description : </td>  <td>{{ form_widget(form.description) }}{{ form_errors(form.description) }}</td></tr>
                            </table>
                            <table class="table">
                                <tbody>
                            <tr>
                                <th><label>Concernant</label></th>
                                <td>{{ reclamation.x }}</td><td>{{ reclamation.concernant }}</td>
                            </tr>
                            </tbody>
                            </table>


                            <button class="btn btn-primary"  style="">{{ button_label|default('Modifier') }}</button>

                            {{ form_end(form) }}
                            <button class="btn btn-primary" style="margin-top: 20px" onclick="location.href='{{ path('reclamation_index') }}'">Retour</button>

                            {{ include('reclamation/_delete_form.html.twig') }}

                        </div>
    </div>

</section>

{% endblock %}

