{% extends 'base.html.twig' %}
{% block content %}
    <div class="row align-items-sm-center align-items-lg-stretch">
        <div class="col-md-5 col-lg-5 text-center">
            <div class="learning_member_text">
                <div class="row justify-content-center " style="margin-top: 150px">



                </div>

            </div>
        </div>
        <div class="col-md-7 col-lg-7">
            <div class="img-rounded">

            </div>
        </div>

    </div>

{% endblock %}
{% block body %}
    <section class="banner_part">
        <div class="container">



                            <h2>Liste réclamation </h2>

                            <table class="table">
                                <thead>
                                <tr>

                                    <th>Nom de reclamation</th>
                                    <th>Description</th>
                                    <th>Date</th>

                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for reclamation in reclamations %}
                                    <tr>

                                        <td>{{ reclamation.reclamationNom }}</td>
                                        <td>{{ reclamation.description }}</td>
                                        <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>

                                        <td>
                                            <a href="{{ path('reclamation_show', {'reclamationId': reclamation.reclamationId}) }}">Consulter</a>
                                            <a href="{{ path('reclamation_edit', {'reclamationId': reclamation.reclamationId}) }}">Modifier</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <a href="{{ path('reclamation_new') }}">Créer une réclamation</a>
                        </div>


    </section>
{% endblock %}

