{% extends 'base.html.twig' %}

{% block body %}
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">


                            <h1>Reclamation</h1>

                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>ReclamationId</th>
                                    <td>{{ reclamation.reclamationId }}</td>
                                </tr>
                                <tr>
                                    <th>ReclamationNom</th>
                                    <td>{{ reclamation.reclamationNom }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ reclamation.description }}</td>
                                </tr>
                                <tr>
                                    <th>Date</th>
                                    <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Avertissement</th>
                                    <td>{{ reclamation.avertissement ? 'Yes' : 'No' }}</td>
                                </tr>
                                </tbody>
                            </table>

                            <a href="{{ path('reclamation_index') }}">back to list</a>

                            <a href="{{ path('reclamation_edit', {'reclamationId': reclamation.reclamationId}) }}">edit</a>

                            {{ include('reclamation/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
