{% extends 'baseBack.html.twig' %}



{% block body %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->

                    <div class="card">

                        <!-- /.card-header -->
                        <div class="panel-body">

                            <div style="background-color: white;border-radius: 4px;">
                                <br>
                            <table class="table">
                                <thead>
                                <tr >

                                    <th>Date_creation</th>
                                    <th>Prix</th>
                                    <th>Domaine</th>
                                    <th>Capacite</th>
                                    <th>Image</th>
                                    <th>Titre</th>
                                    <th>Description</th>
                                    <th>Date_evenement</th>
                                    <th>Etat</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for evenement in evenements %}
                                    <tr >

                                        <td>{{ evenement.dateCreation ? evenement.dateCreation|date('Y-m-d') : '' }}</td>
                                        <td>{{ evenement.prix }}</td>
                                        <td>{{ evenement.domaine }}</td>
                                        <td>{{ evenement.capacite }}</td>
                                        <td><img height="70px" width="100px" src="{{ asset('uploads/images/') }}{{evenement.image  }}"></td>
                                        <td>{{ evenement.titre }}</td>
                                        <td>{{ evenement.description }}</td>
                                        <td>{{ evenement.dateEvenement ? evenement.dateEvenement|date('Y-m-d') : '' }}</td>
                                        <td>{{ evenement.etat }}</td>
                                        <td>
                                            {% if evenement.etat==0 %}
                                            <a class="btn btn-info" href="{{ path('evenement_approuver', {'id': evenement.evenementId }) }}">Approuver</a>
                                            {% else %}
                                                <a class="btn btn-danger" href="{{ path('evenement_rejeter', {'id': evenement.evenementId }) }}">rejeter</a>

                                                {% endif %}
                                                </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="11">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                                <br>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                        <!-- right column -->

                        <!--/.col (right) -->
                    </div>
                    <!-- /.row -->

                </div><!-- /.container-fluid -->
            </div>
        </div>



    </section>

{% endblock %}
