{% extends 'base.html.twig' %}

{% block content %}
    <section class="banner_part">


        <div class="row align-items-center">


        </div>
        </div>

    </section>


{% endblock %}

{% block body %}

<div class="btn_1" style="position:relative; top: -650px; margin-left: 80px; width: 1150px;">
    <h1 style="color: white">Evenement </h1>
    <br>

    <a class="btn btn-info" href="{{ path('evenement_new') }}">Create new</a>
    <br>
    <br>
    <input id="search" class="form-control form-control-sidebar"  type="search" placeholder="Search" aria-label="Search">

    <br>

    <table class="table">
        <thead>
            <tr style="color: white">


                <th>Prix</th>
                <th>Domaine</th>
                <th>Capacite</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date_evenement</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="allTTT">
        {% for evenement in evenements %}
            <tr style="color: white">


                <td>{{ evenement.prix }}</td>
                <td>{{ evenement.domaine }}</td>
                <td>{{ evenement.capacite }}</td>
                <td><img height="70px" width="100px" src="{{ asset('uploads/images/') }}{{evenement.image  }}"></td>
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.dateEvenement ? evenement.dateEvenement|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.etat }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ path('evenement_delete', {'id': evenement.evenementId }) }}">Delete</a>
                    {% if evenement.etat ==0%}
                    <a class="btn btn-info" href="{{ path('evenement_edit', {'id': evenement.evenementId }) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tbody id="search11">
        </tbody>
    </table>
</div>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){

                var value = $(this).val();
                $.ajax({

                    url : "{{ path('rechercheevent') }}",
                    type : 'GET',
                    data: {
                        'event' : value
                    },
                    success : function(retour){
                        if(retour){
                            $("#search11").empty();

                            $.each(JSON.parse(retour), function(i, obj) {
                                $("#allTTT").hide();
                                var date = new Date(obj.dateCreation.timestamp * 1000);
                                date.setHours(date.getHours()-1);
                                var dateStr =
                                    date.getFullYear() + "-" +
                                    ("00" + (date.getMonth() + 1)).slice(-2) + "-" +
                                    ("00" + date.getDate()).slice(-2) ;

                                if(obj.etat==0)
                                $("#search11").append('<tr style="color: white"><td> '+obj.prix+' </td><td> '+obj.domaine+' </td>' +'<td> '+obj.capacite+' </td>'+
                                    '<td><img height="70px" width="100px" src="/uploads/images/'+obj.image+'"></td><td>'+obj.titre+' </td>' +
                                    '<td>'+obj.description+' </td><td>'+dateStr+' </td><td>'+obj.etat+' </td>' +
                                    '<td><a class="btn btn-round btn-danger" href="delete/'+obj.evenementId+'">Delete</a> <a class="btn btn-round btn-info" href="'+obj.evenementId+'/edit">edit</a></td></tr>');
                               else
                                    $("#search11").append('<tr style="color: white"><td> '+obj.prix+' </td><td> '+obj.domaine+' </td>' +'<td> '+obj.capacite+' </td>'+
                                        '<td><img height="70px" width="100px" src="/uploads/images/'+obj.image+'"></td><td>'+obj.titre+' </td>' +
                                        '<td>'+obj.description+' </td><td>'+dateStr+' </td><td>'+obj.etat+' </td>' +
                                        '<td><a class="btn btn-round btn-danger" href="delete/'+obj.evenementId+'">Delete</a> </td></tr>');


                            });

                        }
                        else
                        {
                            $("#allTTT").show();
                            $("#search11").empty();
                            $("#search11").fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });

    </script>
{% endblock %}
