{% extends 'baseBack.html.twig' %}



{% block body %}
	<div class="container-fluid">
		<!-- OVERVIEW -->
		<div class="panel panel-headline">
			<div class="panel-heading">
				<h1>Les utilisateurs</h1>
				<table class="table">
					<thead>
					<tr>
						<th>Username</th>
						<th>Email</th>
						<th>Formateur</th>
						<th>Livreur</th>
						<th>Vendeur</th>
						<th>Cv</th>
						<th>Validite</th>
						<th>Mailconfirme</th>
						<th>Numconfirme</th>
						<th>Avertissement</th>
						<th>actions</th>
					</tr>
					</thead>
					<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.username }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.isFormateur ? 'No' : 'Yes' }}</td>
							<td>{{ user.isLivreur ? 'No' : 'Yes' }}</td>
							<td>{{ user.isVendeur ? 'No' : 'Yes' }}</td>
							<td>{{ user.cv }}</td>
							<td>{{ user.validite ? 'No' : 'Yes' }}</td>
							<td>{{ user.mailconfirme ? 'No' : 'Yes' }}</td>
							<td>{{ user.numconfirme ? 'No' : 'Yes' }}</td>
							<td>{{ user.avertissement }}</td>
							<td>
								<a href="{{ path('admin_show', {'userId': user.userId}) }}">Consulter</a>
								<a href="{{ path('admin_delete', {'userId': user.userId}) }}">Supprimer</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="20">no records found</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}




