{% extends 'baseBack.html.twig' %}




{% block body %}
	<section class="banner_part">
		<div class="container">

			<div class="row align-items-center">
				<div class="col-lg-6 col-xl-6">
					<div class="banner_text">
						<div class="banner_text_iner">


							<h1>Les utilisateurs</h1>

							<table class="table">
								<thead>
								<tr>
									<th>UserId</th>
									<th>Nom</th>
									<th>Prenom</th>
									<th>Username</th>

									<th>Role</th>
									<th>Adresse</th>
									<th>NumTel</th>
									<th>Email</th>

									<th>Bio</th>
									<th>Formateur</th>
									<th>Livreur</th>
									<th>Vendeur</th>
									<th>Cv</th>
									<th>Validite</th>
									<th>Mailconfirme</th>
									<th>Numconfirme</th>
									<th>Avertissement</th>
									<th>actions</th>
								</tr>
								</thead>
								<tbody>
								{% for user in users %}
									<tr>
										<td>{{ user.userId }}</td>
										<td>{{ user.nom }}</td>
										<td>{{ user.prenom }}</td>
										<td>{{ user.username }}</td>

										<td>{{ user.role }}</td>
										<td>{{ user.adresse }}</td>
										<td>{{ user.numTel }}</td>
										<td>{{ user.email }}</td>

										<td>{{ user.bio }}</td>
										<td>{{ user.isFormateur ? 'No' : 'Yes' }}</td>
										<td>{{ user.isLivreur ? 'No' : 'Yes' }}</td>
										<td>{{ user.isVendeur ? 'No' : 'Yes' }}</td>
										<td>{{ user.cv }}</td>
										<td>{{ user.validite ? 'No' : 'Yes' }}</td>
										<td>{{ user.mailconfirme ? 'No' : 'Yes' }}</td>
										<td>{{ user.numconfirme ? 'No' : 'Yes' }}</td>
										<td>{{ user.avertissement }}</td>
										<td>
											<a href="{{ path('admin_show', {'userId': user.userId}) }}">Consulter</a>
											<a href="{{ path('admin_delete', {'userId': user.userId}) }}">Supprimer</a>

										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="20">no records found</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>


						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}


