{% extends 'baseAdmin.html.twig' %}
{% block body  %}
<div class="row" >

    {# <div class="author_info">  <div class="author_img">
              <a class="btn_1" href="{{ path('formation_index') }}">Retour</a></div> </div>#}
    <section class="special_cource padding_top">

            <div class="container" >
                <div class="row justify-content-center">
                    <div class="col-xl-5">

                                    <div class="section-title">
    <div class="col- col-lg-4" align-self-center>

        <th></th>
        <img src="/images1/{{ formation.image }}" class="img-fluid"  alt="" style="width: 50%; height:auto; margin:50px">
    </div>

    <div class="col-col-lg-4" align-self-center>
        <table class="table">
            <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ formation.titre }}</td>
            </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ formation.domaine }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ formation.date  }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ formation.duree }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ formation.lieu }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ formation.prix }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ formation.niveau }}</td>
            </tr>
            <tr>
                <th>Langue</th>
                <td>{{ formation.langue }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ formation.description }}</td>
            </tr>
<tr>

    <td>
        {% if formation.isvalid == 0 %}
        <form  method="post" action="{{ path('v_formation', {'formationId': formation.formationId}) }}" onsubmit="return confirm('Voulez vous vraimenent valider cette formation ? ');">
            <input type="hidden" name="_token" value="{{ csrf_token('validerF' ~ formation.formationId) }}">
            <button class="btn btn-success" >valider</button>
        </form> </td>
    <td> <form method="post" action="{{ path('formation_delete', {'formationId': formation.formationId}) }}" onsubmit="return confirm('Voulez vous vraimenent invalider cette formation ? ');">
            <input type="hidden" name="_token" value="{{ csrf_token('Invalider' ~ formation.formationId) }}">
            <button class="btn btn-danger">Invalider</button>
        </form></td>

</tr>
            {% endif %}
            <a class="btn btn-info" href="{{path('formation_cours_Admin',{'id': formation.formationId})}}">Voir les cours associés </a>
        {#  <a class="btn btn-success" href="{{ path('valider_formation', {'formationId': formation.formationId}) }}">Valider</a>
        <a class="btn btn-danger " href="{{ path('formation_delete', {'formationId': formation.formationId}) }}">Invalider</a></td>#}






            </tbody>
        </table>
    </div>


                                    </div>

                </div>
            </div>

            </div>
    </section>
</div>

{% endblock %}