<!DOCTYPE html>

{% block body %}
    <h1>Oeuvrage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>OeuvrageId</th>
                <th>Nom</th>
                <th>Domaine</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>Description</th>
                <th>Image</th>
                <th>Isvalid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oeuvrage in oeuvrages %}
            <tr>
                <td>{{ oeuvrage.oeuvrageId }}</td>
                <td>{{ oeuvrage.nom }}</td>
                <td>{{ oeuvrage.domaine }}</td>
                <td>{{ oeuvrage.prix }}</td>
                <td>{{ oeuvrage.quantite }}</td>
                <td>{{ oeuvrage.description }}</td>
                <td>{{ oeuvrage.image }}</td>
                <td>{{ oeuvrage.isvalid }}</td>
                <td>
                    <a href="{{ path('oeuvrage_show', {'oeuvrageId': oeuvrage.oeuvrageId}) }}">show</a>
                    <a href="{{ path('oeuvrage_edit', {'oeuvrageId': oeuvrage.oeuvrageId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('oeuvrage_new') }}">Create new</a>
{% endblock %}
