{% extends 'base.html.twig' %}

{% block title %}
    <title> détail d'un oeuvre </title>
{% endblock %}
{% block header %}
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html"> <img src="{{ asset ('img/logo.png') }}" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                             id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('accueil_index') }}" style="color: #ffffff">Accueil</a>
                                    {#    </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('blog_index_front') }}" style="color: #ffffff">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('formation_index') }}" style="color: #ffffff">Formations</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('evenement_index_Front') }}" style="color: #ffffff">Evenements</a>
                                </li> #}

                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('oeuvrage_index') }}" style="color: #ffffff">Oeuvres</a>
                                </li>
                                {#  <li class="nav-item">
                                    <a class="nav-link" href="{{ path('user_index')}}" style="color: #ffffff">Nos artistes</a>
                                </li>
                                {% if(app.user==null) %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_login') }}" style="color: #ffffff">Profil</a>
                                    </li>

                                    <li class="d-none d-lg-block">
                                        <a class="btn_1" href="{{ path('app_login') }}">S'inscrire</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('user_show', {'userId':app.user.userId}) }}" style="color: #ffffff">Profil</a>
                                    </li>

                                    <li class="d-none d-lg-block">
                                        <a class="btn_1" href="{{ path('app_logout') }}">Déconnecter</a>
                                    </li>
                                {% endif %}#}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->

{% endblock %}
 {% block content %}
     <section class="breadcrumb breadcrumb_bg">
         <div class="container">
             <div class="row">
                 <div class="col-lg-12">
                     <div class="breadcrumb_iner text-center">
                         <div class="breadcrumb_iner_item">
                             <h2>Détail d'oeuvre </h2>

                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!-- breadcrumb start-->
 {% endblock %}

{% block body %}
    <section >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-lg-4" align-self-center>
                    <img src="\PI\IMG\{{ oeuvrage.image }}" class="img-fluid" alt="" style="width: 50%; height:auto">

                </div>



                <div class="col-lg-6 col-xl-6">

                    <div class="banner_text">

                        <div class="banner_text_iner">


                            <table class="table">
                                <tbody>

                                <tr>
                                    <th>Nom</th>
                                    <td>{{ oeuvrage.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Domaine</th>
                                    <td>{{ oeuvrage.domaine }}</td>
                                </tr>
                                <tr>
                                    <th>Prix</th>
                                    <td>{{ oeuvrage.prix }}</td>
                                </tr>
                                <tr>
                                    <th>Quantite</th>
                                    <td>{{ oeuvrage.quantite }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ oeuvrage.description |raw  }}</td>
                                </tr>


                                </tbody>
                            </table>

                            <a href="{{ path('oeuvrage_indexvendor') }}" class="btn_1">Revenir à la liste</a>

                            <a href="{{ path('oeuvrage_edit', {'oeuvrageId': oeuvrage.oeuvrageId}) }}" class="btn_2">Modifier</a>

                            {{ include('oeuvrage/_delete_form.html.twig') }}
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </section>

{% endblock %}


