{% extends 'baseBack.html.twig' %}



{% block body %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->

                    <div class="card">
                        <h1>LieuEvenement </h1>
                        <!-- /.card-header -->
                        <div class="panel-body">
                            <a class="btn btn-info" href="{{ path('lieu_evenement_new') }}">Create new</a>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Titre</th>
                                    <th>Description</th>
                                    <th>Longitude</th>
                                    <th>Latitude</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for lieu_evenement in lieu_evenements %}
                                    <tr>
                                        <td>{{ lieu_evenement.id }}</td>
                                        <td>{{ lieu_evenement.titre }}</td>
                                        <td>{{ lieu_evenement.description }}</td>
                                        <td>{{ lieu_evenement.longitude }}</td>
                                        <td>{{ lieu_evenement.latitude }}</td>
                                        <td>
                                            <a class="btn btn-info" href="{{ path('lieu_evenement_delete', {'id': lieu_evenement.id}) }}">Delete</a>
                                            <a class="btn btn-danger" href="{{ path('lieu_evenement_edit', {'id': lieu_evenement.id}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                        <!-- right column -->

                        <!--/.col (right) -->
                    </div>
                    <!-- /.row -->

                </div><!-- /.container-fluid -->
            </div>
        </div>



    </section>

{% endblock %}
