{{ form_start(form) }}
<div>
    <div class="col-lg-8 col-md-8">

    <div class="mt-10">
            <span class="mt-10">Nom</span>
            <div>
                {{ form_widget(form.quantite, { 'attr': {'class': 'mt-10 '} }) }}
            </div>
        </div>


        <button style="margin-top:10px" class="btn btn-outline-success">{{ button_label|default('Valider') }}</button>
        <button style="margin-top:10px" class="btn btn-outline-primary"><a href="{{ path('panier_temp_index') }}">Retour</a></button>
    </div>
</div>
{{ form_end(form) }}
