{{ form_start(form, {'attr':{'novalidate':'novalidate'}})  }}
<div>
    <div class="col-lg-8 col-md-8">

    <div class="mt-10">
            <span class="mt-10">Quantite</span>
            <div>
                {{ form_widget(form.quantite, { 'attr': {'class': 'mt-10 '} }) }}{{ form_errors(form.quantite) }}
            </div>
        </div>


        <button style="margin-top:10px" class="btn_1">{{ button_label|default('Valider') }}</button>
        <button style="margin-top:10px" class="btn_2"><a href="{{ path('panier_temp_index') }}">Retour</a></button>
    </div>
</div>
{{ form_end(form) }}
