{% extends 'panier.html.twig' %}
{% block body %}
    <section class="special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2> Nos Oeuvres </h2>
                    </div>
                </div>
            </div>
            {% for flashMessage in app.session.flashbag.get('red') %}

                <div class="alert alert-danger">
                    <center>{{ flashMessage }}</center>
                </div>

            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('green') %}

                <div class="alert alert-success">
                    <center>{{ flashMessage }}</center>
                </div>

            {% endfor %}
            <div class="row">
            {% for oeuvrage in oeuvrages%}

                <div class="col-sm-6 col-lg-4">
                    <div class="single_special_cource">
                        <img style="width: 50%" src="/img/{{oeuvrage.image}}" alt="produit" class="special_img">
                        <div class="special_cource_text">
                            {% if oeuvrage.quantite > 0 %}
                            <a href="{{ path('panier_temp_new', {id: oeuvrage.oeuvrageId }) }}" class="btn_4">Ajouter au panier</a>
                            <h4>{{ oeuvrage.prix }} DT</h4>
                                <h3>{{ oeuvrage.nom }}</h3>
                            <p>{{ oeuvrage.description }}</p>
                            <div class="author_info">
                                <div class="author_img">
                                    <img src="{{asset('img/author/author_1.png')}}" alt="">
                                    <div class="author_info_text">
                                        <p>Made by:</p>
                                        <h5><a href="#">{{ oeuvrage.user.nom }}</a></h5>
                                        {% else %}
                                        <h4>{{ oeuvrage.prix }} DT</h4>
                                        <h3>{{ oeuvrage.nom }}</h3>
                                        <p>{{ oeuvrage.description }}</p>
                                        <div class="author_info">
                                            <div class="author_img">
                                                <img src="{{asset('img/author/author_1.png')}}" alt="">
                                                <div class="author_info_text">
                                                    <p>Made by:</p>
                                                    <h5><a href="#">{{ oeuvrage.user.nom }}</a></h5>
                                            <h4 style="color: red;">EN RUPTURE DE STOCK</h4>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    </div>
                {% endfor %}
                </div>

            </div>
    </section>
{% endblock %}