{{ form_start(form) }}

        <div>
            <div class="col-lg-8 col-md-8">

                <div class="mt-10">
                    <span class="mt-10">Titre</span>
                    <div>
                           {{ form_widget(form.titre, { 'attr': {'class': 'mt-10 '} }) }}
                    </div>
                </div>

                <div class="mt-10">
                    <span class="mt-10">Image</span>
                    <div>
                        {{ form_widget(form.image, { 'attr': {'class': 'mt-10'} }) }}
                    </div>
                </div>

                <div class="mt-10">
                    <span class="mt-10">Description</span>
                    <div>
                           {{ form_widget(form.description, { 'attr': {'class': 'col-lg-4 col-md-5'} }) }}
                    </div>
                </div>

                <button style="margin-top:10px" class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
                <button style="margin-top:10px" class="btn btn-outline-primary"><a href="{{ path('blog_index') }}">Retour</a></button>
            </div>
        </div>

{{ form_end(form) }}


