{% extends 'base.html.twig' %}

{% block title %}Inscription index{% endblock %}

{% block body %}
    <h1>Inscription index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>InscriptionId</th>
                <th>Date</th>
                <th>Isinscrit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
            <tr>
                <td>{{ inscription.inscriptionId }}</td>
                <td>{{ inscription.date ? inscription.date|date('Y-m-d') : '' }}</td>
                <td>{{ inscription.isinscrit ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('inscription_show', {'inscriptionId': inscription.inscriptionId}) }}">show</a>
                    <a href="{{ path('inscription_edit', {'inscriptionId': inscription.inscriptionId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('inscription_new',{'id': formation.formationId}) }}">s'inscrire à une formation</a>
{% endblock %}
