<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>


        {% block header %}

   <!--::header part start::-->
    <header class="main_menu single_page_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand logo_1" href="index.html"> <img src="{{ asset('img/single_page_logo.png') }}" alt="logo"> </a>
                        <a class="navbar-brand logo_2" href="index.html"> <img src="{{ asset('img/single_page_logo.png') }}" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                             id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html">A propos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('formation_index') }}">Formations</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="blog.html">Evenements</a>
                                </li>
                                <li class="nav-item active">
                                    {#   <a class="nav-link dropdown" href="blog.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Pages
                                    </a> #}
                                    <a class="nav-link" href="contact.html">Oeuvres</a>
                                    {#   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                        <a class="dropdown-item" href="elements.html">Elements</a>
                                    </div>  #}
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="contact.html">Profil</a>
                                </li>
                                <li class="d-none d-lg-block">
                                    <a class="btn_1" href="#">S'inscrire</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
        {% endblock %}

        {% block formationIntro %}
            <section class="breadcrumb breadcrumb_bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb_iner text-center">
                                <div class="breadcrumb_iner_item">
                                    <h2>Espace Formation</h2>
                                    <p>Home<span>/</span>Courses</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {# <section class="banner_part">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-6 col-xl-6">



                            <div class="banner_text"><div class="banner_text_iner">
                                <h5>Every child yearns to learn</h5>
                                <h1>Making Your Childs
                                    World Better</h1>
                                <p>Replenish seasons may male hath fruit beast were seas saw you arrie said man beast whales
                                    his void unto last session for bite. Set have great you'll male grass yielding yielding
                                    man</p>
                                <a href="#" class="btn_1">Nos artistes </a>
                                <a href="#" class="btn_2">Commencer ! </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> #}
        </section>
        {% endblock %}
       {#  {%  block body %}
        <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5>Every child yearns to learn</h5>
                            <h1>Making Your Childs
                                World Better</h1>
                            <p>Replenish seasons may male hath fruit beast were seas saw you arrie said man beast whales
                                his void unto last session for bite. Set have great you'll male grass yielding yielding
                                man</p>
                            <a href="#" class="btn_1">Nos artistes </a>
                            <a href="#" class="btn_2">Commencer ! </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        {% endblock %} #}

      {#   <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container d-flex align-items-center">

                <h1 class="logo mr-auto"><a href="index.html">OnePage</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#pricing">Pricing</a></li>
                        <li class="drop-down"><a href="">Drop Down</a>
                            <ul>
                                <li><a href="#">Drop Down 1</a></li>
                                <li class="drop-down"><a href="#">Deep Drop Down</a>
                                    <ul>
                                        <li><a href="#">Deep Drop Down 1</a></li>
                                        <li><a href="#">Deep Drop Down 2</a></li>
                                        <li><a href="#">Deep Drop Down 3</a></li>
                                        <li><a href="#">Deep Drop Down 4</a></li>
                                        <li><a href="#">Deep Drop Down 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Drop Down 2</a></li>
                                <li><a href="#">Drop Down 3</a></li>
                                <li><a href="#">Drop Down 4</a></li>
                            </ul>
                        </li>
                        <li><a href="#contact">Contact</a></li>

                    </ul>
                </nav><!-- .nav-menu -->

                <a href="#about" class="get-started-btn scrollto">Get Started</a>

            </div>
        </header><!-- End Header -->
        {% endblock %}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {#  <!-- Google Fonts -->
        {% block fonts %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      {% endblock %}   #}
        {% block stylesheets %}
            <head>
                <!-- Required meta tags -->
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <title>Etrain</title>
                <link rel="icon" href="{{ asset('img/favicon.png') }}">
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
                <!-- animate CSS -->
                <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
                <!-- owl carousel CSS -->
                <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
                <!-- themify CSS -->
                <link rel="stylesheet" href="{{ asset('css/themify-icons.css') }}">
                <!-- flaticon CSS -->
                <link rel="stylesheet" href="{{ asset('css/flaticon.css') }}">
                <!-- font awesome CSS -->
                <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
                <!-- swiper CSS -->
                <link rel="stylesheet" href="{{  asset('css/slick.css') }}">
                <!-- style CSS -->
                <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            </head>
        {% endblock %}
        {#   {% block stylesheets %}
            <!-- Vendor CSS Files -->
            <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
            <link href="{{ asset('assets/vendor/venobox/venobox.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/vendor/aos/aos.css') }}" rel="stylesheet">

            <!-- Template Main CSS File -->
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        {% endblock %} #}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.12.1.min.js') }}"></script>
            <!-- popper js -->
            <script src="{{ asset('js/popper.min.js') }}"></script>
            <!-- bootstrap js -->
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <!-- easing js -->
            <script src="{{ asset('js/jquery.magnific-popup.js') }}"></script>
            <!-- swiper js -->
            <script src="{{ asset('js/swiper.min.js') }}"></script>
            <!-- swiper js -->
            <script src="{{ asset('js/masonry.pkgd.js') }}"></script>
            <!-- particles js -->
            <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('js/jquery.nice-select.min.js"') }}></script>
            <!-- swiper js -->
            <script src="{{ asset('js/slick.min.js') }}"></script>
            <script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
            <script src="{{ asset('js/waypoints.min.js') }}"></script>
            <!-- custom js -->
            <script src="{{ asset('js/custom.js') }}"></script>
            {#   <!-- Vendor JS Files -->
            <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>
            <script src="{{ asset('assets/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/counterup/counterup.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/venobox/venobox.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>

            <!-- Template Main JS File -->
            <script src="{{ asset('assets/js/main.js') }}"></script>   #}

        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}

    {% block footer %}
        {#    <!-- ======= Footer ======= -->
        <footer id="footer">

            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>OnePage</h3>
                            <p>
                                A108 Adam Street <br>
                                New York, NY 535022<br>
                                United States <br><br>
                                <strong>Phone:</strong> +1 5589 55488 55<br>
                                <strong>Email:</strong> info@example.com<br>
                            </p>
                        </div>

                        <div class="col-lg-2 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Our Services</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-4 col-md-6 footer-newsletter">
                            <h4>Join Our Newsletter</h4>
                            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                            <form action="" method="post">
                                <input type="email" name="email"><input type="submit" value="Subscribe">
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container d-md-flex py-4">

                <div class="mr-md-auto text-center text-md-left">
                    <div class="copyright">
                        &copy; Copyright <strong><span>OnePage</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
                <div class="social-links text-center text-md-right pt-3 pt-md-0">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>
        </footer><!-- End Footer -->  #}
        <!-- footer part start-->
        <footer class="footer-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-6 col-md-4 col-xl-3">
                        <div class="single-footer-widget footer_1">
                            <a href="index.html"> <img src="img/logo.png" alt=""> </a>
                            <p>But when shot real her. Chamber her one visite removal six
                                sending himself boys scot exquisite existend an </p>
                            <p>But when shot real her hamber her </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl-4">
                        <div class="single-footer-widget footer_2">
                            <h4>Newsletter</h4>
                            <p>Stay updated with our latest trends Seed heaven so said place winged over given forth fruit.
                            </p>
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Enter email address'
                                               onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Enter email address'">
                                        <div class="input-group-append">
                                            <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="social_icon">
                                <a href="#"> <i class="ti-facebook"></i> </a>
                                <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                <a href="#"> <i class="ti-instagram"></i> </a>
                                <a href="#"> <i class="ti-skype"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-md-4">
                        <div class="single-footer-widget footer_2">
                            <h4>Contact us</h4>
                            <div class="contact_info">
                                <p><span> Address :</span> Hath of it fly signs bear be one blessed after </p>
                                <p><span> Phone :</span> +2 36 265 (8060)</p>
                                <p><span> Email : </span>info@colorlib.com </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright_part_text text-center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer part end-->
    {% endblock %}
    </body>
</html>

