{% extends 'baseBack.html.twig' %}

{% block title %}
    <title> Modifier  Offre </title>
{% endblock %}

{% block body %}
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Modifier l'offre "{{ offre.nom }}" </h3>
                    <p class="panel-subtitle"></p>
                </div>
                {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
                <div class="panel-body">
                    <table class="table  table-striped">
                        <tr><td> Nom d'offre : </td>  <td>{{ offre.nom }}</td></tr>
                        <tr><td> Nombre des profiteurs : </td>  <td>{{ offre.nbClient }}</td></tr>
                        <tr><td> Nom du profiteur : </td>  <td>{{ offre.user }}</td></tr>
                        <tr><td> Description d'offre :</td>  <td > {{ form_widget(form.description) }} {{ form_errors(form.description) }}</td></tr>
                        <tr><td> Deadline :</td>  <td>{{ form_widget(form.date) }} {{ form_errors(form.date) }}</td></tr>
                    </table>

                </div>
                <div class="panel-body">
                    <button class="btn_1">{{ button_label|default('Modifier Offre') }}</button>
                </div>
                {{ form_end(form) }}

                <div class="panel-body">

    <a href="{{ path('offre_index') }}" class="btn_4">Revenir à la liste</a>

    {{ include('offre/_delete_form.html.twig') }}
            </div>
            </div>
            <!-- END OVERVIEW -->

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
{% endblock %}
