{% extends 'base.html.twig' %}

{% block title %}
    <title> liste des offres  </title>
{% endblock %}

 {% block content %}
     <section >
         <div class="container">
             <div class="row">
                 <div class="col-lg-12">
                     <div class=" text-center">
                         <div>
                             <h2> </h2>

                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!-- breadcrumb start-->
 {% endblock %}




{% block body %}

    <section>

        <div class="container">


                {% if offres == null %}

            <div class="row align-items-sm-center align-items-lg-stretch">
                <div class="col-md-5 col-lg-5 text-center">
                    <div class="learning_member_text">
                        <div class="row justify-content-center " style="margin-top: 250px">


                            <h2 STYLE=" font-style: italic; font-family: 'Arial Narrow' ;color: #bc6969 ">Vous n'avez pas d'offre ! acheter plus  </h2>


                        </div>

                    </div>
                </div>
                <div class="col-md-7 col-lg-7">
                    <div class="img-rounded">
                        <img src="{{ asset ('img/learning_img.jpg') }}" alt="">
                    </div>
                </div>

            </div>

               {% else %}

                           <div class="row align-items-sm-center align-items-lg-stretch">
                               <div class="col-md-5 col-lg-5 text-center">
                                   <div class="learning_member_text">
                                       <div class="row justify-content-center " style="margin-top: 250px">


                                           <h2 STYLE=" font-style: italic; font-family: 'Arial Narrow' ;color: #bc6969 ">Vous avez des offres ! profiter avant le deadline </h2>


                                       </div>

                                   </div>
                               </div>
                               <div class="col-md-7 col-lg-7">
                                   <div class="img-rounded">
                                       <img src="{{ asset ('img/learning_img.jpg') }}" alt="">
                                   </div>
                               </div>

                           </div>
            <div class="row">
                {% for offre in offres %}


                    <div class="col-sm-6 col-lg-4" align-self-center>
                        <div class="single_special_cource">

                            <div class="special_cource_text">
                                <a ><h3> {{ offre.nom }}</h3></a>
                                <p>{{ offre.description |raw }}</p>
                                 <span class="label-danger ">Deadline</span>
                                <h4> {{ offre.date ? offre.date|date('Y-m-d') : '' }} </h4>


                                <div class="author_info">
                                    <div class="author_img">
                                        <a href="{{ path('offre_showclient', {'offreId': offre.offreId}) }}" class="btn_4" >Afficher </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
                <div STYLE="margin-top: 30px ; float: right">
                    {{ knp_pagination_render(offres) }}
                </div>
                {% endif %}
        </div>

        </div>

    </section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">

                </div>
            </div>
        </div>



    </div>
{% endblock %}
