{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}

    <section class="course_details_area section_padding">
        <div class="container">
            <div class="row">
                {% for cour in cours %}
                <div class="col-lg-8 course_details_left">
    <h4 class="title">Liste des cours</h4>
    <div class="content">
        <ul class="course_list">

            <li class="justify-content-between align-items-center d-flex">

                <h5>{{ cour.titre }}</h5>
                <a class="btn_2 text-uppercase" href="{{path ('cours_show',{ 'coursId': cour.coursId }) }}">Voir en Détails</a>
            </li>
           {% endfor %}
        </ul>
    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{#    <h1>Cours index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Titre</th>
                <th>Niveau</th>
                <th>Description</th>
                <th>Duree</th>
                <th>Image</th>

            </tr>
        </thead>

        {% for cour in cours %}
            <tr>

                <td>{{ cour.titre }}</td>
                <td>{{ cour.niveau }}</td>
                <td>{{ cour.description }}</td>
                <td>{{ cour.duree }}</td>
                <td>{{ cour.image }}</td>
                <td>
                  {% if (cour.formation.) %}
                    <a class="btn_2" href="{{ path('cours_show', {'coursId': cour.coursId}) }}">show</a>
                  {% endif %}
                    <a class="btn_2" href="{{ path('cours_edit', {'coursId': cour.coursId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <section class="course_details_area ct-golden-section ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_area">
                    <div class="content">
                        <ul class="course_list">

                            <li class="justify-content-between align-items-center d-flex">
                               {# <p>{{ cour.titre }}</p>
                                <a class="btn_2 text-uppercase " href="{{path('cours_show',{'id': cour.coursId})}}">Afficher en détails </a>

                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
<div class="author_img" align="center">
    </div>  #}

