{% extends 'base.html.twig' %}



{% block body %}
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
    <h1>Profil utilisateur</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>

            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>NumTel</th>
                <td>{{ user.numTel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <th>Bio</th>
                <td>{{ user.bio }}</td>
            </tr>

        </tbody>

    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'userId': user.userId}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
